AWS_ENVIRONMENT=development
AWS_ACCESS_KEY_ID=XX
AWS_SECRET_ACCESS_KEY=XYZ
AWS_ROLE_ARN=arn:aws:iam::xxxx:role/lambda_s3_exec_role
AWS_REGION=us-east-1
AWS_FUNCTION_NAME=herokuDynoScaler
AWS_HANDLER=index.handler
AWS_MODE=event
AWS_MEMORY_SIZE=128
AWS_TIMEOUT=30
AWS_RUNTIME=nodejs
HEROKU_API_TOKEN=secret
HEROKU_APP_NAME=your_heroku_appname
